<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }

        #boardContents {
            height: 200px; /* 내용 입력창 크기 조정 */
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시글 등록 폼</h2>
    </div>
    <h4 class="mb-3">게시글 입력</h4>
    <form action="/board/save" method="post" th:action="@{/board/save}" th:object="${boardDTO}">
        <div>
            <label for="boardTitle">제목</label>
            <input type="text" id="boardTitle" th:field="*{boardTitle}" class="form-control" placeholder="제목을 입력하세요">
        </div>
        <div>
            <label for="boardContents">내용</label>
            <textarea id="boardContents" th:field="*{boardContents}" class="form-control" placeholder="내용을 입력하세요"></textarea>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">게시글 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='/board'"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>
